@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Fira Code', monospace;
    line-height: 1.2;
    background-color: #0c0c0c;
    color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;
    user-select: none;
}

/* Scrollbars */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #27ae60; }
::-webkit-scrollbar-corner { background: transparent; }

/* --- XTERM FIXES --- */

.terminal-wrapper {
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}

.xterm-viewport {
    background-color: #0c0c0c !important;
    overflow-y: auto !important;
}

/* Dies hier ist der Schlüssel gegen das Markieren von leeren Zeilen */
.xterm-rows {
    height: 100%;
}

/* Wir deaktivieren Maus-Events auf der ganzen Zeile... */
.xterm-rows > div {
    pointer-events: none;
}

/* ...und aktivieren sie NUR für den Text wieder! */
.xterm-rows span {
    pointer-events: auto;
    user-select: text;
    cursor: text;
}

/* Custom Selection Farbe */
::selection {
    background: rgba(39, 174, 96, 0.99);
    color: black;
}

/* Split Layout */
.split { display: flex; flexDirection: row; height: 100%; width: 100%; }
.split-vertical { flexDirection: column; }
.gutter {
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-position: 50%;
    flex-shrink: 0;
    z-index: 10;
}
.gutter:hover { background-color: #27ae60; cursor: col-resize; }
.gutter.gutter-vertical { cursor: row-resize; }